<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application>
        <activity
            android:name=".activities.LanguageScreenOne"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.LanguageScreenDup"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.WelcomeScreenOne"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.WelcomeScreenDup"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.WalkThroughConfigActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
    </application>

</manifest>